* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

@font-face{
  font-family: Batch;
  src: url('../fonts/batch-icons-webfont.eot');
  src: url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/batch-icons-webfont.woff') format('woff'),
    url('../fonts/batch-icons-webfont.ttf') format('truetype'),
    url('../fonts/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.batch {
  font-family: "Batch" !important;
  font-size: 16px !important;
  line-height: 1;
  display: inline-block;
  font-weight: normal !important;
}

.batch-lock:after {
  content: "\F0C2";
}

.batch-key:after {
  content: "\F0C0";
}

.batch-trash:after {
  content: "\F155";
}

.nav {
  padding: 1.5em 1.5em 0 1.5em;
  display: block;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.nav-title {
  font-weight: normal;
  color: #aeaeae;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  float: left;
}

.nav-button {
  display: inline-block;
  float: right;
}

.sign-out {
  color: rgba(243, 61, 71, 1);
  font-size: .8em;
  font-weight: normal;
  background: #fff;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  display: inline-block;
}

.sign-out span {
  margin-left: 4px;
}

.login {
  color: rgba(255, 255, 255, 1);
  background: rgba(132, 102, 240, 1);
  font-size: .8em;
  font-weight: bold;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  border-radius: 32px;
  border: 1px solid rgba(132, 102, 240, 1);
  transition-property: color, background;
  transition-duration: 100ms;
}

.login:hover {
  color: rgba(132, 102, 240, 1);
  background: #fff;
}

.login span {
  margin-right: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  font-weight: normal;
}

p {
  font-size: .9em;
  line-height: 1.5em;
  color: #888888;
  font-family: sans-serif;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  font-weight: normal;
}

code {
  font-size: .9em;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}

.page-content {
  max-width: 50em;
  margin: 0 auto;
}

.page-title {
  margin: 6em 0;
}

.page-section {
  text-align: left;
  margin: 2.5em 1.5em;
}

.page-footer {
  margin: 4em 0 0 0;
  padding: 0 0 1em 0;
}

.page-footer a {
  color: inherit;
}

.page-divider {
  height: 1px;
  width: 100%;
  display: block;
  background: #f1f1f1;
  margin: 3em 0;
  padding: 0 3em;
}

.result-section-preview {
  margin-top: 4em;
}

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: sans-serif;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  line-height: 1.5em;
  font-size: .9em;
}

.result-list li {
  padding: .5em .6em;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  word-wrap: break-word;
}

.result-list li:first-child {
  border-top: 1px solid #eee;
}
