- if (flash) {
  %p{ style: "color: red;" }= flash
- }

- if (authorized) {
  %p
    Username:
    %b= username
  %p
    User ID:
    %b= userId
  %p
    Token:
    %b= oauthToken

  %p
    %a{ href: "/logout" } Logout
- } else {
  %h1 Login with Instagram

  %p
    %a{ href: instagram_auth_url } Login
- }
